<figure class="profile-figure radar-figure" aria-labelledby="domain-heading">
<div class="figure-heading"><h3 id="domain-heading">{{ ui.radar }}</h3><span class="chart-status">{{ ui.illustrative }}</span></div>
<p class="source-note">{{ ui.radarNote }}</p>
{% set radarId = 'radar' %}{% include 'ability-chart.njk' %}
<figcaption>{{ ui.radarCaption }} <a href="{{ ui.prefix }}/about/#sources">{{ ui.sourceLink }}</a>.</figcaption></figure>
