<figure class="profile-figure timeline-figure" aria-labelledby="timeline-heading">
<div class="figure-heading"><h3 id="timeline-heading">{{ ui.path }}</h3><span class="chart-status">{{ ui.milestones }}</span></div>
{% include 'journey.njk' %}
<figcaption>{{ ui.timelineNote }} <a href="{{ ui.prefix }}/about/#sources">{{ ui.sourceLink }}</a>.</figcaption></figure>
